{% extends "base-front.html.twig" %}

{% block title %}
	Reservation
{% endblock %}

{% block navs %}


	<li ><a  href="{{ path('AC_List') }}">Articles</a></li>
	<li><a href="{{ path('hotels') }}">Hotels</a></li>
	<li><a href="{{ path('plats') }}">Plats</a></li>
	<li><a href="{{ path('activities') }}">Activities</a></li>
	<li><a href="{{ path('events') }}">events</a></li>
	{% if app.user %}
		<li ><a href="{{ path('List_Rec') }}">Profile</a></li>
	{% else %}
		<li ><a href="{{ path('app_login_front') }}">Register</a></li>
	{% endif %}	{#  	<li ><a href="{{ path('gouvernorats') }}"></a></li>
#}

{% endblock %}

{% block mininavs %}
	<li ><a  href="{{ path('AC_List') }}">Articles</a></li>
	<li><a href="{{ path('hotels') }}">Hotels</a></li>
	<li><a href="{{ path('plats') }}">Plats</a></li>
	<li><a href="{{ path('activities') }}">Activities</a></li>
	<li><a href="{{ path('events') }}">events</a></li>
	{% if app.user %}
		<li ><a href="{{ path('List_Rec') }}">Profile</a></li>
	{% else %}
		<li ><a href="{{ path('app_login_front') }}">Register</a></li>
	{% endif %}	{#  	<li ><a href="{{ path('gouvernorats') }}"></a></li>
#}



{% endblock %}

{% block content %}

	<div class="page-top" id="templatemo_contact"></div>
	<div class="middle-content">
		<div style="margin-bottom: 60px;" class="container">
			<div class="row">
				<h1>Edit Reservation</h1>

				{{ include('reservation/_form.html.twig', {'button_label': 'Update'}) }}

				<a href="{{ path('app_reservation_index') }}">back to reservations</a>

				{{ include('reservation/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
