{% extends "base-front.html.twig" %}

{% block title %}
	Login - Tounesna
{% endblock %}

{% block content %}
	<div style="height: 300px;" class="flexslider">
		<ul class="slides">
			<li>
				<div class="overlay"></div>
				<img src="images/templatemo_slide_1.jpg" alt="Special 1">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-lg-4">
							<div class="flex-caption visible-lg">
								<span class="price">$7,500</span>
								<h3 class="title">Venice, Italy</h3>
								<p>Travel is a responsive Bootstrap layout from
									<span class="blue">template</span>
									<span class="green">mo</span>
									website.
																			All images used in this template are from
									<a rel="nofollow" href="http://unsplash.com" target="_parent">Unsplash</a>.</p>
								<a href="#" class="slider-btn">Pre-booking</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="overlay"></div>
				<img src="images/templatemo_slide_2.jpg" alt="Special 2">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-lg-4">
							<div class="flex-caption visible-lg">
								<span class="price">$12,400</span>
								<h3 class="title">Bercelona, Spain</h3>
								<p>You may visit
									<a href="http://tourkrub.co" target="_parent">Tour Krub</a>
									for Thai Tour Packages. Duis fermentum nibh sit amet felis mattis, eu convallis risus egestas.</p>
								<a href="#" class="slider-btn">Reserve Now</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="overlay"></div>
				<img src="images/templatemo_slide_3.jpg" alt="Special 3">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-lg-4">
							<div class="flex-caption visible-lg">
								<span class="price">$20,800</span>
								<h3 class="title">Basel, Switzerland</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis fermentum nibh sit amet felis mattis, eu convallis risus egestas.</p>
								<a href="#" class="slider-btn">Réserver</a>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- /.flexslider -->


	<div class="container">
		<div class="row">
			<div class="col-xl-4" style="color: #ffffff; margin-top: 50px;">
				<h1>Login</h1>
				{% if app.session.flashbag.has('error') %}
					<div class="alert alert-danger">
						{{ app.session.flashbag.get('error')[0] }}
					</div>
				{% endif %}
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}

					<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					<label for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					{#
					        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
					        See https://symfony.com/doc/current/security/remember_me.html
					
					        <div class="checkbox mb-3">
					            <label>
					                <input type="checkbox" name="_remember_me"> Remember me
					            </label>
					        </div>
					    #}

					<button type="submit" class="btn" style="color: #000000; border: 1px solid #000000; margin-top: 20px;">Login</button>
					<a class="btn" style="color: #000000; border: 1px solid #000000; margin-top: 20px;" href="{{ path('app_register_front') }}">Register</a>

				</form>
			</div>
			<!-- /.our-listing -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->

	<div class="middle-content"></div>
{% endblock %}
