{% extends "base-front.html.twig" %}

{% block title %}
	Article
{% endblock %}

{% block navs %}


	<li class="active"><a  href="{{ path('AC_List') }}">Articles</a></li>
	<li><a href="{{ path('hotels') }}">Hotels</a></li>
	<li><a href="{{ path('plats') }}">Plats</a></li>
	<li><a href="{{ path('activities') }}">Activities</a></li>
	<li><a href="{{ path('events') }}">events</a></li>
	{% if app.user %}
		<li ><a href="{{ path('List_Rec') }}">Profile</a></li>
	{% else %}
		<li ><a href="{{ path('app_login_front') }}">Register</a></li>
	{% endif %}	{#  	<li ><a href="{{ path('gouvernorats') }}"></a></li>
	#}

{% endblock %}

{% block mininavs %}
	<li class="active"><a  href="{{ path('AC_List') }}">Articles</a></li>
	<li><a href="{{ path('hotels') }}">Hotels</a></li>
	<li><a href="{{ path('plats') }}">Plats</a></li>
	<li><a href="{{ path('activities') }}">Activities</a></li>
	<li><a href="{{ path('events') }}">events</a></li>
	{% if app.user %}
		<li ><a href="{{ path('List_Rec') }}">Profile</a></li>
	{% else %}
		<li ><a href="{{ path('app_login_front') }}">Register</a></li>
	{% endif %}	{#  	<li ><a href="{{ path('gouvernorats') }}"></a></li>
	#}



{% endblock %}

{% block content %}
	<div style="margin: 0 0 50px 0;" class="page-top" id="templatemo_services"></div>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
	<link rel="stylesheet" href="{{asset('Amin/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{asset('Amin/css/owl.carousel.min.css')}}">
	<link rel="stylesheet" href="{{asset('Amin/css/magnific-popup.css')}}">
	<link rel="stylesheet" href="{{asset('Amin/css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{asset('Amin/css/themify-icons.css')}}">
	<link rel="stylesheet" href="{{asset('Amin/css/nice-select.css')}}">
	<link rel="stylesheet" href="{{asset('Amin/css/flaticon.css')}}">
	<link rel="stylesheet" href="{{asset('Amin/css/gijgo.css')}}">
	<link rel="stylesheet" href="{{asset('Amin/css/animate.css')}}">
	<link rel="stylesheet" href="{{asset('Amin/css/slicknav.css')}}">
	<link rel="stylesheet" href="{{asset('Amin/css/style.css')}}">


	<!--================Blog Area =================-->
	<section class="blog_area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="blog_left_sidebar">

						{% for a in Articles %}
							<article class="blog_item">
								<div class="blog_item_img">
									<img class="card-img rounded-0" src=" {{asset('images/ArticleCulturelle/' ~ a.image )}} " alt=" ">
									<a href="#" class="blog_item_date">

										<h3>
											{{ a.date|date('d') }}</h3>
										<p>

											{% set mois = {
                                                    1: "janvier",
                                                    2: "février",
                                                    3: "mars",
                                                    4: "avril",
                                                    5: "mai",
                                                    6: "juin",
                                                    7: "juillet",
                                                    8: "août",
                                                    9: "septembre",
                                                    10: "octobre",
                                                    11: "novembre",
                                                    12: "décembre"
                                                } %}

											{% for numMois in range(1, 12) %}
												{% if numMois == a.date|date('m') %}
													{{ mois[numMois] }}
												{% endif %}
											{% endfor %}
										</p>
									</a>
								</div>

								<div class="blog_details">

									<a class="d-inline-block" href="{{ path('AC_Consulter', {'id': a.id}) }}">
										<h2>{{a.titre}}</h2>
									</a>
									<p>{{a.description}}<p/>
										<ul class="blog-info-link">
											<li>
												<a href="#">
													<i class="fa fa-user"></i>
													Tunisie ,{{a.idGouv.nomGouver}}</a>
											</li>
										</ul>
									</p>
								</div>
							</article>
						{% endfor  %}
						{#<nav class="blog-pagination justify-content-center d-flex">
																																																																																																																																																																			<ul class="pagination">
																																																																																																																																																																				<li class="page-item">
																																																																																																																																																																					<a href="#" class="page-link" aria-label="Previous">
																																																																																																																																																																						<i class="ti-angle-left"></i>
																																																																																																																																																																					</a>
																																																																																																																																																																				</li>
																																																																																																																																																																				<li class="page-item">
																																																																																																																																																																					<a href="#" class="page-link">1</a>
																																																																																																																																																																				</li>
																																																																																																																																																																				<li class="page-item active">
																																																																																																																																																																					<a href="#" class="page-link">2</a>
																																																																																																																																																																				</li>
																																																																																																																																																																				<li class="page-item">
																																																																																																																																																																					<a href="#" class="page-link" aria-label="Next">
																																																																																																																																																																						<i class="ti-angle-right"></i>
																																																																																																																																																																					</a>
																																																																																																																																																																				</li>
																																																																																																																																																																			</ul>
																																																																																																																																																																		</nav>#}

					</div>
				</div>
				<div class="col-lg-4">
					<div class="blog_right_sidebar">
						<aside class="single_sidebar_widget search_widget">
							<form action="#">
								<div class="form-group">
									<div class="input-group mb-3">
										<input type="text" class="form-control" placeholder='Search Keyword' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
										<div class="input-group-append">
											<button class="btn" type="button">
												<i class="ti-search"></i>
											</button>
										</div>
									</div>
								</div>
								<button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">Search</button>
							</form>
						</aside>

						<aside class="single_sidebar_widget post_category_widget">
							<h4 class="widget_title">Category</h4>
							<ul class="list cat-list">
								<li>
{#  	<li ><a href="{{ path('gouvernorats') }}"></a></li>#}

									<a href="{{ path('gouvernorats') }}" class="d-flex">
										<p>Gouvernorats</p>
									</a>
								</li>


							</ul>
						</aside>


					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- form itself end -->
	<!-- JS here -->
	<script src="js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/isotope.pkgd.min.js"></script>
	<script src="js/ajax-form.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/scrollIt.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/nice-select.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/gijgo.min.js"></script>

	<!--contact js-->
	<script src="js/contact.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.form.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/mail-script.js"></script>

	<script src="js/main.js"></script>
	<script>
		$('#datepicker').datepicker({
iconsLibrary: 'fontawesome',
icons: {
rightIcon: '<span class="fa fa-caret-down"></span>'
}
});
$('#datepicker2').datepicker({
iconsLibrary: 'fontawesome',
icons: {
rightIcon: '<span class="fa fa-caret-down"></span>'
}

});
	</script>


{% endblock %}
