{% extends 'Base-front1.html.twig' %}

{% block principal %}

	<div class="contact-page">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-6 map-wrapper">
					<h3 class="widget-title">Photo</h3>
					<div class="map-holder">
						<img width="600px" height="500px" id="output" src="{{asset('images/ArticleCulturelle/' ~ article.image )}}"></img>
				</div>

			</div>
			<div class="col-md-5 col-sm-6">
				<h3 class="widget-title">Ajouter un Article Culturelle</h3>
				<div class="contact-form">
					<form name="contactform" id="contactform" action="#" method="post">
						<p>
							<span id="Titreerror"></span>

							<input type="text" name="Titre" id="Titre" placeholder="Titre" value="{{article.titre}}">
						</p>


						<p>
							<span id="Temperror"></span>

							<input type="number" name="TempsMoyenne" id="TempsMoyenne" placeholder="Temps Moyenne" value={{article.tempMoyenne}}>
						</p>


						<p>
							<input type="text" name="Image" id="Image" value={{article.image}} style="display:none;">

							<input type="file" accept="image/*" name="Image2" id="Image2" onchange="loadFile(event)">

							<script>
								var loadFile = function (event) {
var image = document.getElementById('output');
var imageInput = document.getElementById('Image');
var imageInput2 = document.getElementById('Image2');
value = imageInput2.value
value = value.replace(/C:\\fakepath\\/i, '');
imageInput.value = value


image.src = URL.createObjectURL(event.target.files[0]);

};
							</script>
						</p>


						<p>
							<span id="Selecterror"></span>
						</p>
					</br>
					<select name="Gouvernorat" id="Gouvernorat">
						{% for G in Gouvernorats %}
							{% if article.idGouv == G %}
								<option value="{{ G.idGouver }}" selected>{{ G.nomGouver }}</option>
							{% else %}
								<option value="{{ G.idGouver }}">{{ G.nomGouver }}</option>
							{% endif %}
						{% endfor %}


					</select>
				</p>
				<br>

				<p>
					<span id="Descerror"></span>

					<textarea name="Description" id="Description" cols="30" rows="4" placeholder="Description" value={{article.description}}>{{article.description}}</textarea>
				</p>

				<input type="submit" class="mainBtn" id="submit" value="Modifier">
			</p>


		</form>
	</div>

	<script>
		let Myform = document.getElementById('contactform');
Myform.addEventListener('submit', function (e) {

var Temp = document.getElementById('TempsMoyenne').value.trim();
var Titre = document.getElementById('Titre').value.trim();
var regex = /[^a-zA-Z0-9-_]/g
var selec = document.getElementById('Gouvernorat').value.trim();
var Desc = document.getElementById('Description').value.trim();


if (Temp === "" || Titre === "" || Temp.length > 20 || regex.test(Titre) || -90 < Temp < 94 || selec === "" || Desc === "") {
if (Desc === "") {
e.preventDefault()
let errorTemp = document.getElementById("Descerror");
errorTemp.innerHTML = '<i class="fa-sharp fa-solid fa-circle-exclamation" style="color: #ff0000;"></i> Veuiller saisir une description';
errorTemp.style.color = "red";
} else {
let errorTemp = document.getElementById("Descerror")
errorTemp.innerHTML = ''
}

if (selec === "") {
e.preventDefault()
let errorTemp = document.getElementById("Selecterror")
errorTemp.innerHTML = '<i class="fa-sharp fa-solid fa-circle-exclamation" style="color: #ff0000;"></i> Veuiller sélectionner une Gouvernorat '
errorTemp.style.color = "red"
} else {
let errorTemp = document.getElementById("Selecterror")
errorTemp.innerHTML = ''
}

if (regex.test(Titre)) {
e.preventDefault()
let errorTemp = document.getElementById("Titreerror")
errorTemp.innerHTML = '<i class="fa-sharp fa-solid fa-circle-exclamation" style="color: #ff0000;"></i> Le champs titre contient des caractères spéciaux '
errorTemp.style.color = "red"
} else {
let errorTemp = document.getElementById("Titreerror")
errorTemp.innerHTML = ''

}


if (Titre.length > 20) {
e.preventDefault()
let errorTemp = document.getElementById("Titreerror")
errorTemp.innerHTML = '<i class="fa-sharp fa-solid fa-circle-exclamation" style="color: #ff0000;"></i>  Le champs titre est vide'
errorTemp.style.color = "red"
} else {
let errorTemp = document.getElementById("Titreerror")
errorTemp.innerHTML = ''
}
if (Titre === "") {
e.preventDefault()
let errorTemp = document.getElementById("Titreerror")
errorTemp.innerHTML = '<i class="fa-sharp fa-solid fa-circle-exclamation" style="color: #ff0000;"></i>  Le champs titre est vide'
errorTemp.style.color = "red"
} else {
let errorTemp = document.getElementById("Titreerror")
errorTemp.innerHTML = ''
}

if (Temp === "") {
e.preventDefault()
let errorTemp = document.getElementById("Temperror")
errorTemp.innerHTML = '<i class="fa-sharp fa-solid fa-circle-exclamation" style="color: #ff0000;"></i>  Le champs température est vide'
errorTemp.style.color = "red"
} else {
let errorTemp = document.getElementById("Temperror")
errorTemp.innerHTML = ''
}

if (Temp > 94 || Temp < -90 || isNaN(parseInt(Temp))) {
e.preventDefault()
let errorTemp = document.getElementById("Temperror")
errorTemp.innerHTML = '<i class="fa-sharp fa-solid fa-circle-exclamation" style="color: #ff0000;"></i>  Le champs température est doit être entre -90 et 94'
errorTemp.style.color = "red"
} else {
let errorTemp = document.getElementById("Temperror")
errorTemp.innerHTML = ''

}
}

})
	</script>
	<!-- /.contact-form -->
</div></div></div></div>{% endblock %}
